<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Registrar Entrevista</title>

</head>

<body>

	<div id="containerRegistrarEntrevista2" align="center"
		th:fragment="registrarEntrevista2">
		<form id="formRegistroEntrevista" th:object="${entrevista}" class="sign-up" action="#"
			th:action="@{/AgregarEntrevista}" method="post">
			<h2>Nombre Preso</h2>
			<input type="text" th:value="${nombre}" required="required"
				class="sign-up-input" />
			<div>
				<select class="sign-up-input" th:field="*{parentezco}"  placeholder="Ingrese Edad">
					<option th:value="padre">Padre</option>
					<option th:value="madre">Madre</option>
					<option th:value="abuelo">Abuelo</option>
					<option th:value="abuela">Abuela</option>
					<option th:value="tio">Tio</option>
					<option th:value="amigo">Amigo</option>

				</select>
			</div>


			<div>
				<textarea rows="10" cols="30" th:field="*{descripcion}" placeholder="Ingrese Descripcion"></textarea>
			</div>

			<div>
				<input type="submit" value="Registrar Visitante"
					class="sign-up-button" />
			</div>

			<div class="sign-up-error" th:switch="${resultado}">
				<p th:case="'error'">El id ya esta registrado</p>
				<p th:case="'error2'">El id no es numerico</p>
				<p th:case="'ok'">Registro Exitoso</p>
			</div>
		</form>

	</div>
</body>
</html>